#about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: $headers-color;
  }
  p {
    padding: 20px;
    margin: 0;
  }
  img {
    width: 75%;
    padding-bottom: 30px;
  }
  @media (min-width: $screen-md-min) {
    img {
      padding: 0;
    }
    p {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

#marketing-tools {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: $headers-color;
  }
  p {
    padding: 20px;
    margin: 0;
  }
  img {
    width: 75%;
    padding-bottom: 30px;
  }
  @media (min-width: $screen-md-min) {
    img {
      padding: 0;
    }
    p {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
