@import './variables.scss';

#contact {
  margin-bottom: 30px;
  h1,
  h2,
  h3,
  h4 {
    color: $headers-color;
    font-weight: 800;
  }

  h2 {
    margin-bottom: 30px;
  }

  .red-color {
    color: $red-color;
    text-decoration: underline;
  }
}
